.speakers {
  .speakers--item {
    padding: 20px;
    box-sizing: border-box;
  }
}

.speakers--item.active {
  .speakers--item--content--image {
    border-color: $color-primary;
    box-shadow: 0 0 20px 0 $color-primary;

    .speakers--item--content--description {
      display: block;
    }
  }
}

.speakers--item--content {
  cursor: pointer;
}

.speakers--item--content--image {
  background: $color-primary;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  transition: 0.3s;
  border: 5px solid $color-dark;
    img {
      object-fit: cover;
      height: 400px;
      width: 100%;
      margin-bottom: 0;
      padding-bottom: 0;
    }

}

.speakers--item--content--title {
  text-align: right;
  transform: translateY(-40px) translateX(-40px);

  p {
    font-size: 22px;
  }
  @media (max-width: 720px) {
    transform: translateY(0) translateX(0);
    text-align: center;

  }
}

.speakers--item--content--description {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  box-sizing: border-box;
  display: none;
  max-height: 400px;
  overflow-y: auto;

  p {
    font-weight: 700;
  }

  @keyframes showDescription {
    from {
      opacity: 0;
      transform: translateY(50px);
    }

    to {}
  }
  animation: 0.3s showDescription backwards;
}

.social {
  list-style: none;

  li a {
    margin: 5px;
    width: 35px;
    height: 35px;
    border: 1px solid $color-white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: 0.3s;

    &:hover {
      background: $color-white;
      color: $color-primary;
    }
  }
}

.rotate--box-title {
  position: relative;
  width: 100px;

  .box-title {
    position: absolute;
    left: -250px;
    top: 250px;
    transform: rotate(90deg);
    transition: 0.3s;
  }
  @media (max-width: 720px) {
    width: 100%;

    .box-title {
      text-align: center;
      margin-bottom: 0;
      margin-top: 100px;
      position: relative;
      left: 0;
      top: 0;
      transform: rotate(0deg);
    }
  }
}
