.btn {
  font-size: 16px;
  line-height: 100%;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
  padding: 15px 30px;
  border-radius: $radius;
  cursor: pointer;
  border: 1px solid transparent;
  background: $color-white;
  color: $color-dark;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: none;
  transition: 0.2s;
  font-family: inherit;

  a {
    text-decoration: none;
  }

  &.btn-active,
  &:hover {
    background-color: darken($color-white, 20);
  }

  // sizes
  &.btn-sm {
    font-size: 14px;
    padding: 10px 20px;
  }

  &.btn-lg {
    font-size: 18px;
    padding: 25px 40px;
  }

  &.btn-full {
    width: 100%;
  }

  // colors
  &.btn-primary {
    background: $color-primary;
    color: $color-white;

    &:hover {
      background: darken($color-primary, 10);
    }
  }

  &.btn-outline {
    background: transparent;
    border: 2px solid $color-white;
    color: $color-white;

    &:hover {
      background: $color-white;
      color: $color-dark;
    }

    &.btn-primary {
      border-color: $color-primary;
      color: $color-primary;

      &:hover {
        color: $color-white;
        background: $color-primary;
      }
    }
  }

  &.btn-rounded {
    border-radius: 50px;
  }

  // disabled
  &.btn.disabled,
  &.btn:disabled,
  &.btn[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
    background: $color-grey;
    color: $color-dark;

    &:hover {
      filter: none;
    }
  }

  &.btn-min-width {
    width: 150px;
  }

  &.btn-link {
    padding: 20px;
  }

  &.btn-transparent {
    background: transparent;

    &:hover {
      opacity: 0.5;
    }
  }
}

// .btn {
//   border-radius: 6px;
//
//   &:hover {
//     background-color: darken(#ddd, 20);
//   }
//
//   &.btn-primary {
//     background: $color-primary;
//
//     &:hover {
//       background-color: darken($color-primary, 20);
//     }
//   }
//
//   &.btn-secundary {
//     background: $color-dark;
//
//     &:hover {
//       background-color: darken($color-dark, 10);
//     }
//   }
// }
//
// .btn:hover {
//   filter: brightness(100%);
// }
