.btn {
  border-radius: 6px;

  &:hover {
    background-color: darken(#ddd, 20);
  }

  &.btn-primary {
    background: $color-primary;

    &:hover {
      background-color: darken($color-primary, 20);
    }
  }

  &.btn-secundary {
    background: $color-dark;

    &:hover {
      background-color: darken($color-dark, 10);
    }
  }
}

.btn:hover {
  filter: brightness(100%);
}
