html {
  background: $color-dark;
  background: url(~/assets/images/lines.svg), $color-dark;
  background-position: center center;
  background-attachment: fixed;
  color: $color-white;
}

.content {
  padding: 100px 0;
  // border: 1px solid #ddd;
}
