html {
  background: $color-dark;
  background: url(~/assets/images/lines.svg), $color-dark;
  background-position: center center;
  background-attachment: fixed;
  color: $color-white;
}

.content {
  padding: 100px 0;
  position: relative;
  // border: 1px solid #ddd;
}

.padding-top-100 {
  padding-top: 100px;
}

.padding-bottom-100 {
  padding-bottom: 100px;
}
