a {
  color: #fff;
}

.span-uppercase {
  font-size: 18px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

div {
  .box-data {
    margin-right: 50px;

    span:last-child {
      margin-top: 10px;
      font-weight: 800;
      font-size: 20px;
    }

    &:last-child {
      margin-right: 0;
    }

    @media (max-width: 720px) {
      margin-right: 20px;
    }
  }
}
