@font-face {
    font-family: 'Exo';
    src: url('Exo-Medium.eot');
    src: local('Exo Medium'), local('Exo-Medium'),
        url('Exo-Medium.eot?#iefix') format('embedded-opentype'),
        url('Exo-Medium.woff2') format('woff2'),
        url('Exo-Medium.woff') format('woff'),
        url('Exo-Medium.svg#Exo-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Exo';
    src: url('Exo-ExtraBold.eot');
    src: local('Exo ExtraBold'), local('Exo-ExtraBold'),
        url('Exo-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Exo-ExtraBold.woff2') format('woff2'),
        url('Exo-ExtraBold.woff') format('woff'),
        url('Exo-ExtraBold.svg#Exo-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Exo';
    src: url('Exo-Regular.eot');
    src: local('Exo Regular'), local('Exo-Regular'),
        url('Exo-Regular.eot?#iefix') format('embedded-opentype'),
        url('Exo-Regular.woff2') format('woff2'),
        url('Exo-Regular.woff') format('woff'),
        url('Exo-Regular.svg#Exo-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Exo';
    src: url('Exo-Bold.eot');
    src: local('Exo Bold'), local('Exo-Bold'),
        url('Exo-Bold.eot?#iefix') format('embedded-opentype'),
        url('Exo-Bold.woff2') format('woff2'),
        url('Exo-Bold.woff') format('woff'),
        url('Exo-Bold.svg#Exo-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Exo';
    src: url('Exo-Black.eot');
    src: local('Exo Black'), local('Exo-Black'),
        url('Exo-Black.eot?#iefix') format('embedded-opentype'),
        url('Exo-Black.woff2') format('woff2'),
        url('Exo-Black.woff') format('woff'),
        url('Exo-Black.svg#Exo-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

